# macOSX files
.DS_Store

# node
node_modules

# bundle file is big
react-client/dist/bundle.js
react-client/dist/bundle.js.map

# powerpoint temp file
~*

react-client/dist/bundle.js.map
bootstrap/
twilioquickstart.js